*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    height: calc(100vh - 80px);
}

/* CSS SIDEBAR  */

.col-1 {
    width: 240px;
    background-color: black;
    padding: 20px;
}

.logo_box {
    padding-right: 50px;
    padding-bottom: 25px;
}

.icon {
    color: white;
    font-size: 22px;
    padding: 5px 0;
}

.icon .icon_active {
    color: white;
    padding-left: 4px;
}

.icon li {
    padding: 5px 0;
}

.icon span {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 5px;
}

.col-1 h2 {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.crea_playlist i {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
}

.crea_playlist span {
    font-size: 14px;
    color: grey;
    padding: 0px 5px;
    font-weight: 700;
}

.crea_playlist li {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0;
}

.crea_playlist li:first-of-type {
    padding-top: 20px;
}

.col-2 {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #141922;
}

.player {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #282828;
}
