*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    height: calc(100vh - 100px);
}

/* CSS SIDEBAR  */

.sidebar {
    width: 300px;
    background-color: black;
    padding: 20px;
    justify-content: space-between;
}

/* CSS SIDEBAR - Sidebar Top */

.logo_box {
    padding-bottom: 25px;
}

.logo_desktop {
    width: 180px;
}

.logo-mobile {
    width: 35px;
    display: none;
}

.icon {
    color: lightgrey;
    font-size: 22px;
    padding: 5px 0;
}

.icon .icon_active {
    color: white;
    padding-left: 4px;
}

.icon li {
    padding: 5px 0;
}

.icon a {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 5px;
    cursor: pointer;
}

.col-1 h2 {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.playlist i {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
}

.playlist span {
    font-size: 14px;
    color: grey;
    padding: 0px 5px;
    font-weight: 700;
}

.playlist li {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0;
}

.playlist h2 {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.playlist li:first-of-type {
    padding-top: 20px;
}

/* CSS SIDEBAR - Sidebar Bottom */

.sidebar_bottom {
    color: grey;
}

.sidebar_bottom a {
    font-size: 13px;
    display: inline-block;
    padding: 10px 5px;
    font-weight: 700;
    cursor: pointer;
}

.box_img_profile {
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.box_img_profile img {
    background-color: gray;
    border-radius: 100px;
    width: 30px;
    cursor: pointer;
}

.box_img_profile span {
    color: white;
    font-weight: 700;
}

@media (max-width:480px) {
    .logo_desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .logo_box {
        padding: 0;
}

    .playlist {
        display: none;
    }

    .sidebar {
        width: 50px;
        align-items: center;
        padding: 0;
    }

    .sidebar_bottom a, hr, span {
        display: none;
    }

    .icon a {
        display: none;
    }

    .icon li {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .sidebar i {
        align-self: center;
    }

    .sidebar_bottom {
        display: flex;
        flex-direction: column;
    }
    
}
 /* FINE CSS SIDEBAR */


.contenuto {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #141922;
}

/* FOOTER */
.player {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #282828;
}

.col-1, .col-3 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 4;
}

/* COLONNA 1 */
.col-1 {
    align-items: center;
    gap: 35px;
    color: grey;
}

.cover_album {
    margin-left: 10px;
}

.dettagli_brano {
    margin-left: -20px;
}

.nome_brano {
    color: white;
    font-size: 15px;
}

.nome_artista {
    font-size: 13px;
}

.icon_player {
    gap: 10px;
}

.col-1 img {
    width: 70px;    
}
