*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    height: calc(100vh - 100px);
}

/* CSS SIDEBAR  */
.sidebar {
    width: 240px;
    background-color: black;
    padding: 20px;
    justify-content: space-between;
    flex-shrink: 0;
}

/* CSS SIDEBAR - Sidebar Top */
.logo_box {
    padding-bottom: 25px;
}

.logo_desktop {
    width: 180px;
}

.logo-mobile {
    width: 35px;
    display: none;
}

.icon {
    color: lightgrey;
    font-size: 22px;
    padding: 5px 0;
}

.icon .icon_active {
    color: white;
    padding-left: 4px;
}

.icon li {
    padding: 5px 0;
}

.icon a {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 5px;
    cursor: pointer;
}

.col-1 h2 {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.playlist i {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
}

.playlist span {
    font-size: 14px;
    color: grey;
    padding: 0px 5px;
    font-weight: 700;
}

.playlist li {
    color: grey;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0;
}

.playlist h2 {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.playlist li:first-of-type {
    padding-top: 20px;
}

/* CSS SIDEBAR - Sidebar Bottom */
.sidebar_bottom {
    color: grey;
}

.sidebar_bottom a {
    font-size: 13px;
    display: inline-block;
    padding: 10px 5px;
    font-weight: 700;
    cursor: pointer;
}

.box_img_profile {
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.box_img_profile img {
    background-color: gray;
    border-radius: 100px;
    width: 30px;
    cursor: pointer;
}

.nome_profilo {
    color: white;
    font-weight: 700;
}

/* Smartphone */
@media (max-width:600px) {
    .logo_desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .logo_box {
        padding: 0;
}

    .playlist {
        display: none;
    }

    .sidebar {
        width: 50px;
        align-items: center;
        padding: 0;
    }

    .sidebar_bottom a, hr, span {
        display: none;
    }

    .icon a {
        display: none;
    }

    .icon li {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .sidebar i {
        align-self: center;
    }

    .sidebar_bottom {
        display: flex;
        flex-direction: column;
    }    
}
/* FINE CSS SIDEBAR */

/* MAIN */
.contenuto {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #141922;
}

.upgrade {
    height: 110px;
    background-color: #080B12;
    padding-top: 20px;
}

.bottone_upgrade {
    width: 200px;
    font-size: 13px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    padding: 12px 0px;
    border-radius: 25px;
    margin-left: auto;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.titoli_main {
    color: gray;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
    font-size: 15px;
    gap: 15px;
    cursor: pointer;
}

.titolo_main_active {
    align-items: center;
    color: white;
}

.barra_verde {
    height: 2px;
    background-color: #ADFF2F;
    width: 30px;
    margin-top: 3px;
}

.container_main {
    padding: 20px;
}

.titolo_cards {
    color: white;
    font-size: 30px;
    font-weight: 700;    
}

.sottotitolo_cards {
    color: grey;
    font-size: 18px;
    padding-top: 5px;
}

.container_main .row {
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.container_card {
    gap: 15px;
    width: calc(calc(100% - 75px) / 6)
}

.card {
    align-items: center;
    aspect-ratio: 1/1;
    gap: 13px;
    cursor: pointer;
}
/* .tasto_play {
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    font-size: 50px;
    transform: translate(50%,-50%);
    display: none;
} */

.titolo_brano {
    color: white;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
}

.artista_brano {
    color: grey;
    font-size: 17px;
    text-align: center;
    padding-bottom: 30px;
}

.immagine_artista {
    border-radius: 150px;
}

@media (max-width:1200px) {
    .container_card {
        width: calc(calc(100% - 45px) / 4);
    }
}

@media (max-width:950px) {
    .container_card {
        width: calc(calc(100% - 15px) / 2);
    }
}

/* FOOTER */
.player {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #282828;
}

.col-1, .col-3 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 4;
}

/* COLONNA 1 */
.col-1 {
    align-items: center;
    gap: 35px;
    color: grey;
    padding-right: 10px;
}

.dettagli_brano {
    margin-left: -20px;
}

.nome_brano {
    color: white;
    font-size: 15px;
}

.nome_artista {
    font-size: 13px;
}

.icon_song {
    gap: 10px;
}

.col-1 img {
    width: 70px;    
}

/* COLONNA 2 */

.icon_player {
    color: white;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.col-2 i:nth-child(3) {
    font-size: 35px;
}

.container_barra_canzone {
    justify-content: center;
}

.barra_canzone {
    width: 50%;
    min-width: 25%;
    height: 4px;
    background-color: #5A5A5A;
    margin-top: 30px;
    border-radius: 5px;    
}

.barra_canzone_active {
    width: 10%;
    min-width: 4%;
    background-color: #C1C1C1;
}

/* .cerchio {
    background-color: white;
    border-radius: 100px;
    height: 13px;
    width: 13px;
    align-self: center;
    display: inline-block;
} */

.container_barra_canzone span {
    color: white;
    margin: 23px 20px;
    font-size: 13px;
}

/* COLONNA 3 */
.col-3 {
    justify-content: flex-end;
}

.barra_volume_active {
    width: 10%;
    
}

.barra_volume_active {
    width: 25%;
    background-color: #C1C1C1;
    border-radius: 5px;
}

.barra_volume {
    width: 80px;
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 5px;
}

@media (max-width:1024px) {
    .icon_song {
        flex-direction: column;
        margin-left: -20px;
    }
}

@media (max-width:600px) {
    .icon_song {
        flex-direction: column;
        margin-left: -20px;
        font-size: 12px;
    }

    .icon_player {
        gap: 10px;
    }
    
    .barra_volume {
        width: 60px;
    }

    .container_barra_canzone span {
        color: white;
        margin: 22px 10px;
        font-size: 11px;
    }

    .container_barra_canzone hr, span {
        display: inline-block;
    }

    .container_barra_volume hr {
        display: block;
    }

    .nome_brano {
        font-size: 11px;
    }

    .dettagli_brano {
        margin-left: -27px;
    }
}

/* HOVER */

.card img:hover {
    opacity: 0.5;
}

.titoli_main li:hover {
    color: white;
}

.bottone_upgrade:hover {
    transform: scale(1.2);
}

.sidebar li:hover, a:hover {
    color: white;
    cursor: pointer;
}

.playlist span:hover, h2:hover {
    color: white;
    cursor: pointer;
}

.playlist i:hover {
    color: white;
    cursor: pointer;
}

.icon_song i:hover {
    color: white;
    cursor: pointer;
}

.col-2 i:nth-child(3):hover {
    transform: scale(1.2);
    cursor: pointer;
}

.barra_canzone_active:hover {
    cursor: pointer;
    background-color: rgb(19, 202, 19);
}

.cerchio:hover {
    display: block;
    background-color: rgb(19, 202, 19);
}

.barra_volume_active:hover {
    cursor: pointer;
    background-color: rgb(19, 202, 19);
}




